@charset "UTF-8";
body,
html {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    margin-top: 10px;
    padding: 0% 2% 0% 6%;
    height: 100vh;
    text-align: left;
}

.grid .col {
    display: inline-block;
    margin: 0;
}

.grid {
    width: 92%;
    height: 100%;
}

.logs {
    vertical-align: top;
    width: 68.75%;
}

.blank-col {
    width: 5.25%;
}

.info {
    margin-top: 1em;
    width: 25%;
}

.info .row {
    font-size: 1rem;
    border-bottom: 1px solid;
    border-color: #E6E6FA;
    min-width: 209px;
    padding-bottom: 1em;
}

.info .profile {
    height: 120px;
}

.avatar {
    width: 6em;
    height: 6em;
    float: left;
}

.avatar img {
    border-radius: 3em;
    width: 100%;
    height: 100%;
}

.right-floated {
    padding-left: 6.5em;
    display: block;
    max-width: 100%;
}

.right-floated #caption {
    text-decoration: none;
    color: #00b5ad;
}

.right-floated #extra a {
    text-decoration: none;
    color: #00A86B;
}

.fa-tags {
    color: #FF8C69
}

#suggest-title,
#authors-title {
    font-family: "OpenSans", sans-serif;
    font-size: 1.05em;
    font-style: italic;
}

.hot-tags .meta-tags {
    max-width: 100%;
}

.label {
    display: inline-block;
    text-decoration: none;
    background-color: #E6E6FA;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 1px;
    text-decoration: none;
}

.fa-trophy {
    color: #FFD700;
}

.list-author .item .avatar-author {
    width: 1.5em;
    height: 1.5em;
    float: left;
    margin-right: 1em;
    margin-left: 0.5em;
}

.list-author .item .avatar-author img {
    width: 100%;
    height: 100%;
    border-radius: 0.75em;
}

.list-author {
    display: block;
}

.list-author .item {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

.list-author .item a {
    text-decoration: none;
    color: #00A86B;
}


/*-------------------------------logs-------------------*/

.logs .feed .list-feed .tem-feed .avatar-feed {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: block;
    margin-top: .3em;
    margin-right: 1em;
    vertical-align: middle;
    margin-right: 1em;
}

.avatar-feed img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.logs .feed {
    margin-top: 1em;
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.logs .feed .list-feed {
    margin-top: 2em;
}

.list-feed .item-feed {
    padding: 0.5em;
    overflow: hidden;
    margin-bottom: 1em;
}

.list-feed .item-feed {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.list-feed .item-feed:first-child {
    border-top-width: 0px;
}

.list-feed .item-feed .content-feed {
    margin-top: 0.3em;
    margin-left: 3em;
    margin-right: 4em;
    display: block;
}

.content-feed .header-feed>a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #00b5ad;
}

.list-feed .item-feed .content-feed .time-feed {
    font-size: 12px;
}

.time-feed a {
    text-decoration: none;
    color: #00b5ad;
}

.feed-date fas {
    display: inline-block;
}

.feed-date {
    font-size: 12px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}


/*-- header          ------------------------*/


/* ================== footer==========*/

footer {
    width: 100%;
    height: 100px;
}

footer .middle-container {
    margin: 0 8% 0 8%;
    border-top: 1px solid;
    border-color: #E6E6FA;
    padding-top: 15px;
    height: 100%;
}

footer .middle-container .left-menu {
    width: 50%;
    float: left;
}

footer .middle-container p {
    float: right;
    margin: 0;
    padding-top: 5px;
    font-size: 14px;
    color: gray;
}

.middle-container a {
    text-decoration: none;
    color: gray;
    margin-left: 3%;
    font-size: 14px;
}


/*===========================media---------------------*/

@media all and (max-width: 568px) {
    .item-feed .feed-date {
        display: none;
    }
    .item-feed .content-feed {
        margin-right: 0 !important;
    }
}