@charset "UTF-8";

body, html {
	margin: 0;
	padding: 0;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

.container {
	margin-top: 10px;
	padding: 0% 2% 0% 6%;
	height: 100vh;
	text-align: left;
}

.grid .col {
	display: inline-block;
	margin: 0;
}

.grid {
	width: 92%;
	height: 100%;
}

.logs {
	background-color: deepskyblue;
	height: 20px;
	width: 68.75%;
}

.blank-col {
	width: 5.25%;
}

.info {
	margin-top: 1em;
	width: 25%;
}

.info .row {
	font-size: 1rem;
	border-bottom: 1px solid;
	border-color: #E6E6FA;
	min-width: 209px;
	padding-bottom: 1em;
}

.info .profile {
	height: 120px;
}

.avatar {
	width: 6em;
	height: 6em;
	float: left;
}

.avatar img {
	border-radius: 3em;
	width: 100%;
	height: 100%;
}

.right {
	padding-left: 6.5em;
	display: block;
	max-width: 100%;
}

.right #caption {
	text-decoration: none;
	color: #00A86B;
}

.right #extra a {
	text-decoration: none;
	color: #00A86B;
}

.fa-tags {
	color: #FF8C69
}

#suggest-title, #authors-title {
	font-family: "OpenSans", sans-serif;
	font-size: 1.05em;
	font-style: italic;
}

.hot-tags .meta-tags {
	max-width: 100%;
}

.hot-tags .meta-tags .label {
	display: inline-block; text-decoration : none;
	background-color: #E6E6FA;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	margin: 1px;
	text-decoration: none;
}

.fa-trophy {
	color: #FFD700;
}

.list-author .item .avatar-author {
	width: 1.5em;
	height: 1.5em;
	float: left;
	margin-right: 1em;
	margin-left: 0.5em;
}

.list-author .item .avatar-author img {
	width: 100%;
	height: 100%;
	border-radius: 0.75em;
}

.list-author {
	display: block;
}

.list-author .item {
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}

.list-author .item a {
	text-decoration: none;
	color: #00A86B;
}
<!-- header          ------------------------>
.header{
	z-index:999;
	background-color:#2c4762;
}
.logo-item svg{
	width:80px;
	height:40px;
	float:left;
	fill:white;
}
.logo-item{
	display:inline-block;
	margin:10px 0 10px;
	border-right:1px solid;
}
.header-container{
	background-color:#2c4762;
	padding:0 8% 0 8%;
	display:grid;
	grid-template-columns:100px 250px 700px;
}
.header-container form{
	width:250px;
	display:inline-block;
	padding:18px 0 18px 10px;
}
.header-container form input{
	font-size:16px;
	width:200px;
	border:none;
	border-radius:12px;
	background:#E6E6FA;
	padding:3px 5px 3px 10px;
}
.header-container form input:focus{
	outline: none;
}
.right-menu{
	display:inline-block;
}
.right-menu .dropdown-item-newpost{
	margin:18px 0 18px 30%;
}
.right-menu .dropdown-item-newpost a{
	color:white;
	text-decoration: none;
}
footer{
	width:100%;
	height:100px;
}
footer .middle-container{
	margin:0 8% 0 8%;
	border-top:1px solid;
	border-color: #E6E6FA;
	padding-top:15px;
	height:100%;
}  
footer .middle-container .left-menu{
	width:50%;
	float:left;
}
footer .middle-container p{
	float:right;
	margin:0;
	padding-top:5px;
	font-size:14px;
	color:gray;
}
.middle-container a{
	text-decoration: none;
	color:gray;
	margin-left:3%;
	font-size:14px;
}