/* CONTAINER START */

.container {
    padding: 50px 200px;
    font-size: 20px;
    font-weight: 500;
}

.menu {}

.menu-btn {
    padding: 15px 0px;
    border-right: 1px solid #4f6a85;
    padding-right: 150px;
    cursor: pointer;
}

.container .content {
    display: block;
    padding-left: 100px;
}