/* CONTAINER START */

.gird-container {
    display: grid;
    padding: 50px 200px;
    font-size: 20px;
    grid-template-columns: 30% 70%;
}

.menu {
    font-weight: bold;
}

.menu-btn {
    padding: 15px 0px;
    border-right: 2px solid #4f6a85;
    padding-right: 0px;
    cursor: pointer;
}

.btn-password-active {
    color: #A1CF64;
    border-right: 2px solid #A1CF64;
}

.btn-account-active {
    color: #00b5ad;
    border-right: 2px solid #00b5ad;
}

.content-account {
    display: block;
    padding-left: 100px;
    grid-column: 2/2;
}

.content-password {
    display: none;
    padding-left: 100px;
    grid-column: 2/2;
}

.info {
    padding: 10px 20px;
}

.title-info {
    font-weight: 600;
    color: #000000;
    margin: 10px 0px;
}

.content-info {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    color: #a6a6a6;
}

.content-info p {
    color: #000000;
    font-size: 18px;
}

#block-avatar {
    width: 80px;
    height: 80px;
    padding: 0px;
    border-radius: 100%;
    background-color: #a6a6a6;
    color: white;
    cursor: pointer;
}

#block-avatar i {
    padding: 30px;
}

#avatar {
    border-radius: 100%;
    transition: transform 0.5s linear;
    transform-origin: left bottom;
    transform-style: preserve-3D;
    position: absolute;
}

#block-avatar:hover #avatar {
    transform: rotate(-120deg);
}

.img-rotate {
    transform: rotate(-120deg);
}

.icon {
    padding: 10px;
}

.input-field {
    width: 100%;
    padding: 10px 40px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.3125em;
}

.btn-submit {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 10px 40px;
    background-color: #00B5AD;
    color: #FFFFFF !important;
    font-weight: bold;
    cursor: pointer;
}

#btn-ignore {
    color: #59b86f;
    text-decoration: none;
    padding-left: 20px;
    font-weight: 20;
    font-size: 15px;
}

.btn-password {
    background-color: #59b86f;
}

.alert-password {
    background-color: #EFEFEF;
    padding: 15px 40px;
    margin: 10px 10px;
    border-radius: 10px;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 50px;
    text-decoration: none;
    color: rgb(54, 47, 47);
}

#url-field {
    width: 50%;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}

#title-notify {
    color: #00B5AD;
    font-size: 25px;
    margin-bottom: 40px;
}

#btn-save {
    border-radius: 20px;
    padding: 10px 20px;
    color: #a6a6a6;
    background-color: #191919;
    border: none;
}

#btn-save span {
    padding-right: 10px;
}

#btn-save:hover {
    background-color: #262626;
}