    html,
    body {
        margin: 0;
        padding: 0;
    }
    
    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }
    
    .full-height {
        height: 100%;
    }
    
    .full-width {
        width: 100%;
    }
    
    .half-height {
        height: 50%;
    }
    
    .half-width {
        width: 50%;
    }
    
    .left {
        float: left;
    }
    
    .right {
        float: right;
    }
    
    .container {
        padding: 0 2% 0 2%;
        margin: 0px 0px 20px 0px;
    }
    
    .row {
        height: 80%;
        /* margin-right: -15px;
        margin-left: -15px; */
    }
    
    .col-xs-6 {
        width: 49.5%;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
    
    .source {
        width: 100%;
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
        font-size: 16px;
        padding-left: 5px;
        border: none;
        display: block;
        resize: none;
    }
    
    .source:focus {
        outline: none;
    }
    
    .demo-control {
        border-radius: 0 0 6px 6px;
        font-size: 12px;
        background-color: #666;
        color: #fff !important;
        opacity: 0.6;
        transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
        display: block;
        width: fit-content;
        float: right;
    }
    
    .demo-control a {
        padding: 0 20px 0 20px;
        color: #fff !important;
        text-decoration: none;
    }
    
    .demo-control a:hover strong {
        text-decoration: #fff;
        color: black;
    }
    
    .result-html img {
        max-width: 100%;
        margin: 10px 0 10px 0;
    }
    
    .result-src {
        display: none;
    }
    
    .result-debug {
        display: none;
    }
    
    .title-post {
        padding: 0 2% 0 2%;
        margin-top: 10px;
    }
    
    .token-input-list {
        list-style: none;
        padding-left: 0;
        margin: 0;
        padding: 5px 0 5px 0;
    }
    
    .feild {
        font-size: 1rem;
    }
    
    #title-input {
        padding: 0.65em .5rem;
        padding-left: 0;
        font-size: 1.5em;
        border: none;
        font-weight: bold;
    }
    
    #title-input:focus {
        outline: none;
    }
    
    #tag-input {
        display: inline-block;
        padding: 0.5em;
        border: none;
        font-size: 1em;
    }
    
    #tag-input:focus {
        outline: none;
    }
    
    .token-input-list .token-input-token {
        display: inline-block;
        background-color: #e8e8e8;
        margin: 0;
        margin-left: 3px;
        padding: 0.5em;
        border-radius: 5px;
    }
    
    .token-input-delete-token {
        display: inline-block;
    }
    
    .token-input-token p {
        display: inline-block;
        margin: 0;
    }
    
    .token-input-token p .count {
        font-weight: bold;
    }
    
    .preview-only,
    .editor-preview,
    .editor-only {
        padding: 0.4em 0.3em 0.3em 0.3em;
        border: 1px solid;
        border-radius: 4px;
        border-color: #808080;
        color: #808080;
        margin-left: 2px;
        font-size: 0.8em;
    }
    
    .help-annotation {
        padding-bottom: 5px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .help-annotation .md-help-link {
        text-decoration: none;
        color: #00b5ad;
    }
    
    .fa-question-circle {
        font-size: 0.8em;
        margin-right: 2px;
        color: #A1CF64;
    }
    /* upload image */
    
    .upload-image {
        padding: 0 2% 0 2%;
    }
    
    .next-button {
        padding: 10px 2% 40px 2%;
        overflow: hidden;
    }
    
    .next-button .submit-button input {
        background-color: #00B5AD;
        border-radius: 10em;
        padding: 0.8em 1.5em;
        border: none;
        font-weight: 200;
        font-size: 1em;
        color: #ffffff;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.12) !important;
    }
    
    .next-button .submit-button input:focus {
        outline: none;
    }
    
    .next-button .submit-button {
        display: inline-block;
        margin-left: 1em;
    }
    
    .next-button .save-button {
        display: inline-block;
        color: #00B5AD;
        border-radius: 10em;
        padding: 0.8em 1.5em;
        font-weight: 200;
        font-size: 1em;
        border-color: rgba(0, 181, 173, 0.5) !important;
        border-width: 1px;
        border-style: solid;
    }
    
    #fake-upload {
        color: #00b5ad;
    }
    
    #fake-upload:hover {
        text-decoration: underline #00b5ad;
    }
    
    #image-filechooser {
        opacity: 0;
    }
    /* markdown content */
    
    .markdown-content {
        position: fixed;
        display: none;
        width: 100vw;
        left: 0;
        top: 0;
        padding: 2em 10em 2em 10em;
        background-color: rgba(0, 0, 0, 0.8);
        box-sizing: border-box;
    }
    
    .basic-table {
        font-size: 20px;
        background-color: #ffffff;
        width: 100%;
        padding: 2em;
        display: table;
        border-radius: 10px;
        table-layout: fixed;
    }
    
    .basic-table tbody {
        display: table-row-group;
    }
    
    .markdown-content .message {
        padding: 1em;
        background-color: #ffffff;
        margin: 0;
        border-radius: 10px;
    }
    
    .markdown-content a {
        text-decoration: none;
        color: #00b5ad;
        ;
    }
    
    .basic-table tr {
        padding-bottom: 10px;
    }
    /* suggest tags */
    
    .suggest-tags {
        margin: 0;
        background-color: #e8e8e8;
        display: none;
    }
    
    .tags-list {
        list-style: none;
        margin: 0;
        padding: 0.6em;
    }
    
    .tags-list .tags-item {
        padding: 0.5em;
    }
    
    .tags-list .tags-item:hover {
        background-color: #00b5ad;
    }