<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/setting.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Cài đặt</title>
</head>

<body>
    <div class="topnav">
        <a href="#" class="left">Kypalog</a>
        <input class="left" type="text" placeholder="Tìm kiếm" />

        <div class="dropdown right">
            <div class="dropbtn right">
                <span class="right icon-menu"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                <span class="right avatar"><img src="../static/images/1.jpeg" width="40px" height="40px"
                        alt="" /></span>
            </div>
            <div class="clearfix"></div>
            <div class="drop-content">

                <a href="#"><i class="fa fa-user" aria-hidden="true"></i> <span class="text">Trang cá nhân</span></a>
                <a href="#"><i class="fa fa-cog" aria-hidden="true"></i> <span class="text">Cài đặt</span></a>
                <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> <span class="text">Đăng xuất</span></a>
            </div>
        </div>
        <span class="right icon-menu"><i class="fa fa-bell" aria-hidden="true"></i></span>
        <a href="#" class="right"><i class="fa fa-bookmark" aria-hidden="true"></i> <span class="text">Kho
                log</span></a>
        <a href="#" class="right"><i class="fa fa-home" aria-hidden="true"></i> <span class="text">Trang chủ</span></a>
        <a href="#" class="right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span class="text">Viết
                bài</span></a>
    </div>

    <div class="gird-container">

        <div class="menu left">
            <div class="menu-btn btn-account-active" id="account-btn">
                <span>Tài khoản</span>
            </div>
            <div class="menu-btn" id="password-btn">
                <span>Password</span>
            </div>
        </div>

        <div class="content-account left">
            <form method="POST" action="">
                <div class="info">
                    <div class="title-info">
                        <lable>Ảnh đại diện</lable>
                    </div>
                    <div class="content-info">
                        <img src="../static/images/1.jpeg" alt="" width="80" height="80">
                    </div>
                </div>
                <div class="info">
                    <div class="title-info">
                        <label>Tên</lable>
                    </div>
                    <div class="content-info">
                        <i class="fa fa-user icon"></i>
                        <input class="input-field" type="text" value="Phạm Hùng">
                    </div>
                </div>
                <div class="info">
                    <div class="title-info">
                        <label>Nickname</label>
                    </div>
                    <div class="content-info">
                        <i class="fa fa-user icon"></i>
                        <input class="input-field" type="text" value="tuhalang">
                    </div>
                </div>
                <div class="info">
                    <div class="title-info">
                        <label>Email</label>
                    </div>
                    <div class="content-info">
                        <i class="fa fa-envelope icon"></i>
                        <input class="input-field" type="text" value="vanhung101299@gmail.com">
                    </div>
                </div>
                <div class="info">
                    <div class="title-info">
                        <label>RSS feed url</label>
                    </div>
                    <div class="content-info">
                        <p>Bạn cần viết ít nhất 2 bài viết để được cấp quyền sử dụng RSS :)</p>
                    </div>
                </div>
                <div class="info">
                    <div class="title-info">
                        <label>Api Key</label>
                    </div>
                    <div class="content-info">
                        <p>Bạn cần viết ít nhất 2 bài viết để được cấp quyền sử dụng API :)</p>
                    </div>
                </div>
                <div class="info">
                    <button class="btn-submit" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i>
                        <span>Đổi password</span></button>
                </div>
            </form>
        </div>

        <div class="content-password left">
            <form method="POST" action="">
                <div class="alert-password info">
                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                    <span>Password phải có ít nhất 6 ký tự</span>
                </div>
                <div class="info">
                    <div class="title-info">
                        <label>Password hiện tại</label>
                    </div>
                    <div class="content-info">
                        <i class="fa fa-lock icon" aria-hidden="true"></i>
                        <input class="input-field" type="password">
                    </div>
                </div>
                <div class="info">
                    <div class="title-info">
                        <label>Password mới</label>
                    </div>
                    <div class="content-info">
                        <i class="fa fa-lock icon" aria-hidden="true"></i>
                        <input class="input-field" type="password">
                    </div>
                </div>
                <div class="info">
                    <div class="title-info">
                        <label>Xác nhận password</label>
                    </div>
                    <div class="content-info">
                        <i class="fa fa-lock icon" aria-hidden="true"></i>
                        <input class="input-field" type="password">
                    </div>
                </div>
                <div class="info">
                    <button class="btn-submit btn-password" type="submit"><i class="fa fa-floppy-o"
                            aria-hidden="true"></i>
                        <span>Đổi password</span></button>
                    <a href="#" id="btn-ignore">Bỏ qua</a>
                </div>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
    <footer>
        <div class="middle-container">
            <div class="left-menu">
                <a href="#">Điều khoản</a> <a href="#">Phản hồi</a> <a href="#">Yêu
					cầu</a> <a href="#">Fanpage</a>
            </div>
            <p>Copyright © 2018 Kipalog</p>
        </div>
    </footer>
    <script src="../static/js/setting.js"></script>
</body>

</html>